html {
    box-sizing: border-box;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 115%;
    line-height: 200%;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 1024px;
    background-color: #FEFFFF;
}

.contact-icon {
    height: 36px;
    width: 36px;
}

.contact-icon:hover {
    fill: #2b7A78;
}

.resume-header {
    text-align: center;
}

.resume-navigation {
    list-style: none;
    padding-inline: 0;
}

.resume-navigation li {
    display: inline;
    font-size: 140%;
    margin: 0 1rem;
    padding-inline: 0.5em;
}

.resume-navigation a {
    text-decoration: none;
    color: inherit;
}

/* Keeps the size of the contact items from getting too large */
.resume-contact li {
    margin: 0 1em;
    display: inline;
    font-size: 100%;
}

.grid {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
}

.grid div {
    flex: 1
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.teaser {
    flex: 1;
}

.details {
    flex: 2;
}

#about .details {
    text-align: justify;
}

section > h2 {
    display: block;
    padding: 0.5rem;
    font-size: 130%;
}

p a {
    text-decoration: none;
}

p a:link {
    font-weight: bold;
    color: #2b7A78;
    border-color: #2b7A78;
}

p a:visited {
    font-weight: normal;
    color: #3AAFA9;
    border-color: #3AAFA9;
}

p a:hover {
    border-bottom: 1px solid;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0 1% 0 1%
    }

    .resume-navigation li {
        display: block;
    }
    
    .resume-contact li {
        display: inline-block;
    }

    .resume-contact {
        text-align: center;
    }

    .container {
        display: block;
    }

    .grid {
        display: block;
    }
}
